nav{
    background-color: #f6f6f6;
    box-shadow: 2px 2px 3px #d3d2cc;
    font-weight: 580;
    color: #332F2F;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 1.15rem;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    margin: 15px;

}

nav li a {
    color: inherit;  
}

nav li:hover{
    color: #c6c4ba;
    transition: 0.2s ease-in-out;
    
}

.typing{
    padding-top: 20px;
}