.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 25px 40px 30px 40px;

  }
  
  .experience-card {
    background: #f6f6f6;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid#332F2F;
  }
  
  
  .experience-card h3 {
    font-size: 1.6rem;
    color: #333;
  }
  
  .experience-card h4 {
    font-size: 1.3rem;
    color: #555;
  }
  
  .experience-card p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0px;
    color: #777;
  }

  .experience-image{
    width: 85px;
    height: 85px;
    border-radius: 10px;
    border: 3px solid#332F2F;
    box-shadow: 2px 2px 0px 0px #5d5d5d, 2px 2px 0px 1px #332F2F;
  }

 .experience-banner{
  display: flex;
  align-items: center;
  gap: 20px;
}

.experience-title{
  display: flex;
  justify-content: space-between;
}

.experience-details{
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: 425;
}

.description p{
  font-size: 1.1rem;
  font-weight: 425;
  color: #332F2F;
}

@media(max-width:900px){
  .experience-banner{
    flex-direction: column;
    text-align: center;
  }

  .experience-details h3{
    font-size: 3vw;
  }

  .experience-details h4{
    font-size: 2.5vw;
    margin-top: 5px;
  }

  .experience-details p{
    font-size: 2.25vw;
  }

  .description{
    margin-top: -15px;
  }

  .description p{
    font-size: 2vw;

  }

}

@media(max-width:600px){
  .experience-container{
    padding: 5vw;
  }

  .experience-card{
    padding: 2.75vw;
  }
  
  .experience-details h3{
    margin-top: -10px;
    font-size: 4vw;
  }

  .experience-details h4{
    font-size: 3vw;
    margin-top: 7px;
  }

  .experience-details p{
    font-size: 2.5vw;
  }

  .experience-image{
    width: 15vw;
    height: 15vw;
  }

  .description p{
    font-size: 2.5vw;
    margin-bottom: 7px
  }

}